body {
  background-color: #151219;
}

iframe {
    border:none;
}


/* The side navigation menu */
.sidebar {
    margin-top: 120px;
    padding: 0;
    width: 200px;
    background-color: #346369;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #151219;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #60323d;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #323858;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.project-display {
    margin-top: 20px;
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  div.title {
    position: fixed;
    padding: 1px 16px;
    height: 100px;
    width:100%;
    color: white;
  }
  

